.Div {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

.ButtonEdit {
  float: right;
  font-weight: normal;
  vertical-align: middle;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  font-size: 1rem;
  color: #0069A7;
  border: 1px solid #0069A7;
  background-color: white;
  -webkit-appearance: none;
  text-align: center;
  padding: 0.1em 1.38em 0.1em;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition-property: background, color, border-color, box-shadow;
  transition-property: background, color, border-color, box-shadow;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.16s;
  transition-duration: 0.16s;
  line-height: 1.4;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.CardTitle > span {
  line-height: 1.75em;
}

.CardTitle {
  font-size: 20px !important;
  line-height: 1.428571429;
  border-bottom: 1px solid #DCE0E6;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1em;
  font-weight: 600;
  padding: 0;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;

  /* line-height: 28px !important;
  font-weight: 700 !important;
  margin-top: 26px !important;
  margin-bottom: 32px !important;
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important; */
}

.CardPrincipalAccount {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.Container {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
}

.Avatar {
  z-index: 10;
  overflow: hidden !important;
  width: 144px !important;
  height: 144px !important;
  border: 1px solid #DCE0E6 !important;
  background-color: white;
  text-align: left;
  position: relative !important;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

.AccountList > li {
  margin-left: 0.25em;
  margin-bottom: 0.5em;
  font-size: 1.25em;
}

.AccountList > li > span {
  margin-left: 0.25em;
}

.ButtonLogout {
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  padding: 0.5em 1.38em 0.5em;
  border-radius: 4px;
  font-weight: normal;
  color: #545E69;
  border: 1px solid #B1B9C3;
  background-color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition-property: background, color, border-color, box-shadow;
  transition-property: background, color, border-color, box-shadow;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.16s;
  transition-duration: 0.16s;
  line-height: 1.4;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.ButtonLogout:hover {
  color: #242A30;
  border: 1px solid #B1B9C3;
  background-color: #E8EBEF;
}