.BookingTotal {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 80%;
  float: left;
  margin-top: .2em;
}

.BookingTotalWrapper {
  border-radius: 5px;
  position: relative;
  background-color: white;
  padding-top: .9375em;
  width: 100%;
}

.BookingSection {
  border-bottom: 1px solid #dbe1e4;
  padding-bottom: 1em;
  padding-top: .9375em;
  width: 100%;
}

.BookingSectionNoBorder {
  padding-bottom: 1em;
  padding-top: .9375em;
  border-bottom: none !important;
}

.RowInfo {
  background-color: #fafafa !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 960px;
  padding-left: 0.9em;
  padding-right: 0.6em;
}

.Row {
  background-color: #fafafa !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 960px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.RowTotal {
  background-color: #fafafa !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 960px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  font-weight: 700;
}

.InfoContent {
  padding-left: 0;
  padding-right: 0;
  width: 75%;
  float: center;
  margin-bottom: 1em;
  color: #434343;
  padding-top: .5em;
}

.PadTop {
  padding-top: 1em;
}

.SummaryRow {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 960px;
  margin-top: 0.5em;
}

.TotalText {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  float: left;
  text-transform: uppercase;
  font-size: 1.0em;
}

.Total {
  text-align: right;
  color: #0069a7;
  font-size: 2.4em;
}

.containerTotal {
  text-align: left;
}

.SummaryTitle {
  display: inline-block;
  margin: 0;
  width: 79%;
}

.SummaryAmount {
  display: inline-block;
  text-align: right;
  width: 20%;
}

.titleParameters {
  display: inline-block;
  margin: 0;
  width: 77%;
}

.priceParameters {
  display: inline-block;
  text-align: right;
  width: 22%;
}

.titleAddon {
  display: inline-block;
  margin: 0 140px 0 0;
}

.priceAddon {
  display: inline-block;
  text-align: right;
  width: 20%;
}

.vatPorciento {
  display: inline-block;
  margin: 0;
  width: 79%;
}

.vat {
  display: inline-block;
  text-align: right;
  width: 20%;
}

.pageButton {
  background-color: #0069a7;
  border: 1px solid #0069a7;
  color: white;
  padding: 2% 7%;
  font-size: 0.4em;
}
.ErrorText {
  color: #b80808;
  font-size: 0.9em;
}
.pageButtonInvalid {
  background-color: black;
  border: 1px solid black;
  color: white;
  font-size: 1.5em;
  padding: 2% 7%;
  cursor: not-allowed;
}


@media only screen and (max-width: 600px){
  .BookingTotal {
    background-color: #fafafa;
    width: 100%;
  }
  .RowInfo {
    background-color: #fafafa !important;
  }
  
  .Row {
    background-color: #fafafa !important;
  }
  
  .RowTotal {
    background-color: #fafafa !important;
  }

  .BookingTotalWrapper {
    background-color: #fafafa !important;
  }
}