.Div {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
  }
  
  .ButtonEdit {
    float: right;
    font-weight: normal;
    vertical-align: middle;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    font-size: 1rem;
    color: #0069A7;
    border: 1px solid #0069A7;
    background-color: white;
    -webkit-appearance: none;
    text-align: center;
    padding: 0.5em 1.38em 0.5em;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    -webkit-transition-property: background, color, border-color, box-shadow;
    transition-property: background, color, border-color, box-shadow;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.16s;
    transition-duration: 0.16s;
    line-height: 1.4;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
  }
  
  .CardTitle > span {
    line-height: 1.75em;
  }
  
  .CardTitle {
    font-size: 1.75rem;
    line-height: 1.428571429;
    border-bottom: 1px solid #DCE0E6;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
    font-weight: 600;
    padding: 0;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
  }
  
  .CardPrincipalAccount {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  
  .Container {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .MarginLeft {
    margin-left: 1rem;
  }
  
  .LinkEdit {
    margin-left: 1rem;
    color: #0069A7;
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
  }
  
  .LinkDelete {
    margin-left: 1rem;
    color: #b40a0a;
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
  }

  .submit {
    background-color: #0069a7;
    color: white;
    font-size: 1.8em;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
    width: 46%;
    margin: 10px 0px 0 3%;
  }

  .buttonClose {
    background-color: #0069a7;
    color: white;
    font-size: 1.8em;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
    width: 46%;
    margin: 10px 3% 0 0;
  }

  .submit:hover {
    background-color: #0069a7;
    color: white;
  }

  .ButtonDisabled {
    background-color: #6aa7ca;
    color: white;
    font-size: 1.8rem;
    padding: 10px 20px;
    border: none;
    float: right;
    width: 48%;
    margin: 10px 0 0 10px;
  }

  .ContainerError {
    border: 1px solid #D14200 !important;
  }