.pageButton {
  background-color: #0069a7 !important;
  border-radius: 4px !important;
  border-color: #286090;
  border: 1px solid #fff !important;
  color: #eee !important;
  cursor: pointer;
  display: inline-block;
  font-family: Arial !important;
  font-size: 1rem !important;
  font-weight: 500;
  margin: 4px 0 !important;
  margin-top: 20px;
  height: 50px;
  line-height: 48px;
  position: relative;
  padding: 0px 32px;
  vertical-align: baseline;
  width: 546px !important;
}

.InputText{
  background-color: #fafafa !important;
}

.backgroundColorReset{
  background-color: #fafafa !important;
}

@media only screen and (max-width: 600px){
  .pageButton {
    background-color: #0069a7 !important;
    border-radius: 4px !important;
    border-color: #286090;
    border: 1px solid #fff !important;
    color: #eee !important;
    cursor: pointer;
    display: inline-block;
    font-family: Arial !important;
    font-size: 1rem !important;
    font-weight: 500;
    margin: 4px 0 !important;
    margin-top: 20px;
    height: 50px;
    line-height: 48px;
    position: relative;
    padding: 0px 32px;
    vertical-align: baseline;
    width: 93% !important;
  }
  .InputText{
    display: flex;
    flex-wrap: wrap;
  }
}