.JobWrapper {
  width: 100%;
  background-color: #fff;
  margin-bottom: 8px;
  border: 1px solid #e9eced;
  flex-direction: row;
  border-radius: 4px;
  padding: 28px;
}

.JobHeader {
  margin-bottom: 20px;
}

.AvatarHolder {
  display: inline-block;
  margin-right: 15px;
  vertical-align: bottom !important;
}

.NoAgent {
  background-color: #455fcf;
  height: 32px;
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 700;
  color: #fff;
}

.AgentDetails {
  display: inline-block;
}

.JobAgent {
  font-size: 20px !important;
  line-height: 20px;
}

.JobFrecuency {
  background-color: #0069a7;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  float: right;
  margin-top: 13px;
  margin-left: 20px;
}

.JobPrice {
  float: right;
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 700;
}

.JobServicesWrapper {
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-box-flex: 1;
}

.JobDetailsWrapper {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 24px;
  border-width: 1px;
  border-style: none none none solid;
  border-color: #e9eced;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.SeeJobDetails {
  background-color: #fff;
  color: #676d73;
  border: 1px solid #676d73;
  padding: 10px 20px;
  border-radius: 5px;
  width: 125px;
}

.JobPService {
  font-weight: 700!important;
  margin-bottom: 8px!important;
  font-size: 18px;
  margin-bottom: 10px !important;
}

.JobAddress {
  font-size: 15px;
}

.JobDetails {
  margin-top: 10px;
}

.JobExtraServices {
  margin: 0 8px 8px 0;
  padding: 4px 8px;
  border: 1px solid #e9eced;
  border-radius: 4px;
  display: inline-block;
}

.Title {
  font-size: 20px !important;
  line-height: 28px !important;
  font-weight: 700 !important;
  margin-top: 32px !important;
  margin-bottom: 32px !important;
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}