.HowWorks {
  padding-left: 1rem;
  padding-right: 0rem;
  width: 100%;
  float: left;
  font-size: 0.9em;
  margin-top: 2.75em;
}

.Question {
  text-align: center;
}

.ListItem {
  /* position: relative; */
  margin-top: 1em;
  color: #434343;
  list-style-type: none;
  font-family: "Circular", "Helvetica", sans-serif;
}

.ListItem .fa-caret-right {
  display: inline-block;
  margin-right: 3%;
  max-width: 2%;
  position: relative;
  top: 2px;
  transition: all 0.25s linear;
}

.ListItemStep {
  display: inline-block;
  max-width: 95%;
  vertical-align: top;
  font-size: 1em;
}

.Steps {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.Check {
  width: 20px;
  height: 20px;
}