.Guarante{
  background: transparent !important;
}

.TopSeccion{
  padding: 35px 0 !important;
  background-color: #fff !important;
}
.Typogra{
  color: #0069a7 !important;
  font-size: 2rem !important;
  text-align: center;
  font-family: Arial !important;
}
.Text{
  /* max-width: 15em; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* font-family: Arial; */
  /* line-height: 1.5em; */
  font-size: 1.5rem;
}
.small{
  font-size: 1em;
  font-weight: 700;
}
.Img{
  width: 80%;
}
@media only screen and (max-width: 600px) {
  .Guarante {
    padding: 0 2rem;
  }
  .TopSeccion{
    margin-top: 5vh !important;
  }
  .Typogra {
    font-size: 1.75rem !important;
  }
  .SubTypogra {
    font-size: 1rem !important;
  }
  .SubTytle{
    font-size: 1rem !important;
  }
}