.CancelBookingModal {
  border-radius: 5px 5px 5px 5px !important;
  margin: 0px auto;
  text-align: center;
  width: 600px;
  background-color: #ffffff !important;
  padding: 20px;
}

.ButtonCancell {
  font-weight: normal;
  vertical-align: middle;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  font-size: 1rem;
  color: #0069A7;
  border: 1px solid #0069A7;
  background-color: white;
  text-align: center;
  padding: 0.5em 1.38em 0.5em;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition-property: background, color, border-color, box-shadow;
  transition-timing-function: ease;
  transition-duration: 0.16s;
  line-height: 1.4;
}

.ButtonCancell:hover {
  color: #0069A7;
  border: 1px solid #0069A7;
  background-color: #E8EBEF;
}

.ButtonAccept {
  font-weight: normal;
  vertical-align: middle;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  font-size: 1rem;
  color: #0069A7;
  border: 1px solid #0069A7;
  background-color: white;
  text-align: center;
  padding: 0.5em 1.38em 0.5em;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition-property: background, color, border-color, box-shadow;
  transition-timing-function: ease;
  transition-duration: 0.16s;
  line-height: 1.4;
}

.ButtonAccept:hover {
  color: #E8EBEF;
  border: 1px solid #0069A7;
  background-color: #0069A7;
}

.ButtonWrapper {
  padding: 20px;
}