.root {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-top: 150px !important;
  align-items: center !important;
  flex-grow: 1px !important;
}
.Typogra{
  background-color: #f9f9f9 !important;
  font-size: 20px !important;
  line-height: 28px !important;
  font-weight: 700 !important;
  margin-top: 32px !important;
  margin-bottom: 32px !important;
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
  display: inline-block;
}
.Modal {
  background-color: #fafafa;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 90%;
}
.linkNewJob {
  cursor: pointer;
}
@media only screen and (max-width: 600px){
  .root {
    margin-top: 50px !important;
  }
}