.root{
  background-color: #f9f9f9 !important;
  flex-grow: 1px;
  min-height: 200px;
  position: relative;
  width: auto;
}
.AppBar{
  background-color: transparent !important;
  border-bottom: 1px solid #e3e3e3 !important;
}
.TabContainerSpace{
  padding: 6px 4px !important;
}