.JobDetailHeader {
  height: 200px;
  width: 100%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.JobDetailsCard {
  width: 100%;
  text-align: center !important;
  background-color: #fff;
  padding-bottom: 25px;
}

.JobDetailsAvatar {
  display: inline-block;
  margin-top: -44px;
  border-radius: 50%;
  border: 6px solid #fff;
}

.Avatar {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  font-weight: 700;
}

.AvatarCircle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.AgentAvatarCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.AvatarInitials {
  text-align: center;
  background: #676d73;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.JobDetailsCustomerName {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
}

.JobDetailsCustomerAddress {
  font-size: 14px;
  line-height: 20px;
  color: #676d73;
  margin: 0px;
}

.Background {
  background-color: #fff;
}

.JobDetailsServices {
  background-color: #fff;
  border-top: 1px solid #e9eced;
  font-size: 20px !important;
  padding-left: 24px !important;
  width: 100%;
}

.JobDetailsServices dl {
  margin: 0;
  padding-left: 20px;
  text-align: left;
  padding-bottom: 8px;
}
.JobDetailsServices dd {
  border-bottom: 1px solid #e9eced;
  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 20px;
  padding: 5px 5px 12px 0;
  line-height: 22px;
  letter-spacing: 1px;
}

.JobDetailsServices dt {
  margin-right: 20px;
}

.JobDetailsServices dt:first-child {
padding-top: 24px;
}

.TpWeightBold {
  font-weight: 700!important;
}

.JobShow {
  margin-top: 93px;
}

.Ul {
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  display: block;
}

.Li {
  display: list-item;
  text-align: -webkit-match-parent;
  list-style-type: disc;
}

.JobAgentsHeader {
  padding: 10px 25px;
  background-color: #fff;
  border-bottom: 1px solid #e9eced;
  border-top: 1px solid #e9eced;
  width: 100%;
}

.JobAgents {
  margin-top: 20px;
}

.Title {
  font-size: 20px !important;
  line-height: 28px !important;
  font-weight: 700 !important;
  margin-top: 32px !important;
  margin-bottom: 32px !important;
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.JobAgentWrapper {
  padding: 0 5%;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.QouteWrapper {
  background-color: #fff;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.Qoute {
  border: 1px solid #e9eced;
  overflow: hidden;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.QouteHeader {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  display: flex;
  align-items: center;
}

.ContenButton {
  text-align: center;
}

.JobHire {
  color: #009fd9;
  display: inline-block !important;
  line-height: 44px;
  border-top: 1px solid #e9eced;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  display: block;
  text-decoration: none;
  cursor: pointer;
  width: 50%;
}

.JobHire:hover {
  color: #009fd9;
  background-color: #dfdfdf;
  text-decoration: none;
}

.JobHireContratado {
  color: #009fd9;
  line-height: 44px;
  border-top: 1px solid #e9eced;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.JobHireContratado:hover {
  color: #009fd9;
  background-color: #dfdfdf;
  text-decoration: none;
}

.QouteAvatar {
  width: 48px;
  height: 48px;
  font-size: 12px;
  display: inline-block;
}

.QouteAvatar img{
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.QouteName {
  display: inline-block;
  margin-left: 20px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.QouteName p {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin: 0px !important;
  padding: 0px !important;
  box-sizing: border-box;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.QouteDetails {
  width: 100%;
  margin: 5px auto;
  text-align: center;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .QouteDetails {
    width: 60%;
  }
}

.Star {
  display: inline-block;
  margin: 0 2px;
}

.QouteDetailStats {
  color: #676d73!important;
  fill: #676d73!important;
}

.ButtonCancelJob {
  color: red;
  line-height: 44px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-right: 20px;
  cursor: pointer;
}

.ButtonCancelJob:hover {
  background-color: #dfdfdf;
}

.QuoteNumberHires {
  border-left: 1px solid #e9eced;
  padding-left: 10px;
}

@media only screen and (min-width: 375px) {
  .QuoteNumberHires {
    padding-left: 15px;
  } 
}

.StarsWrapper {
  width: 100%;
}

.Items {
  min-height: 1px;
}

/*
.Title{
  background-color: #0069a7 !important;
  border-radius: 5px 5px 0px 0px !important;
}

.TitleDetalles{
  color: white !important;
}

.ServiceDate {
  padding: 1.5rem;
}

.TitleDate{
  color: #0069a7 !important;
  text-align: center !important;
  padding: 0.5em !important;
}

.TitleCaption{
  text-align: center !important;
  padding-bottom: 1em !important;
  font-weight: bold !important;
  font-size: 1em !important;
}

.Services {
  padding: 20px;
}

.HeadService{
  padding-top: 0.5em;
}

.subServicios{
  color: #0069a7 !important;
  font-style: italic;
}

.AvatarAgent {
  padding: 20px;
  display: flex;
  align-items: center;
}

.NameAgent {
  flex: 1 1 auto;
}

.Name {
  margin: 0;
  display: block;
}

.AvatarMargin {
  margin-right: 16px;
}

.Agents {
  display: inline-flex !important;
  margin-right: 16px;
}

.pageAgents{
  border: 1px solid #0069a7 !important;
  border-radius: 0px 0px 0px 5px !important;
  height: 100% !important;
}
.TypograAgent{
  color: #0069a7 !important;
  font-size: 1.2em !important;
  text-align: center !important;
  margin-top: 1.3vh !important;
}

.pageButtonJobCurrentCancelar {
  border: 1px solid #0069a7 !important; 
  border-radius: 0px 0px 5px 0px !important;
  height: 100% !important;
}

.ButtonCancelar{
  background-color: #0069a7 !important;
  border-radius: 0px 0px 5px 5px !important;
  color: white !important;
  font-size: 1.2em !important;
  width: 100% !important;
  height: 100% !important;
}

.ButtonContratar{
  border: 1px solid #0069a7 !important;
  border-radius: 5px 5px 5px 5px !important;
  color: #0069a7 !important;
  font-weight: bold !important;
}

.AgentPostulate{
  padding-top: 1em;
}
*/
.Modal {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px 5px 5px 5px !important;
  box-shadow: 0px;
}
/*

.Modal:focus {
  outline: none;
}

.Stars{
  width: 1.2em;
}*/

.Link {
  display: contents;
}