.Registro{
  /* background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)),url(../../../assets/BackgrounAgent.png); */
  /* background: -o-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)),url(../../../assets/BackgrounAgent.png); */
  /* background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)),url(../../../assets/BackgrounAgent.png); */
  background-image: url(../../../assets/BackgrounAgent.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  flex-grow: 1;
  /* font-family: Arial !important; */
}

.Typogra{
  color: #fff !important;
  font-size: 3rem !important;
  margin-top: 30% !important;
  text-align: center !important;
  font-family: Arial !important;
  font-weight: 500 !important;
}

.logo {
  height: 5rem;
  margin: 0.5rem;
}

.PaperStile {
  background-color: transparent !important;
}

.Form{
  margin-top: 14vh;
}

@media only screen and (max-width: 600px) {
  .Registro{
    background-image: none;
    background: rgba(74,137,189,0.59) !important;
    background: -moz-linear-gradient(-45deg, rgba(74,137,189,0.59) 0%, rgba(0,106,167,1) 100%) !important;
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(74,137,189,0.59)), color-stop(100%, rgba(0,106,167,1))) !important;
    background: -webkit-linear-gradient(-45deg, rgba(74,137,189,0.59) 0%, rgba(0,106,167,1) 100%) !important;
    background: -o-linear-gradient(-45deg, rgba(74,137,189,0.59) 0%, rgba(0,106,167,1) 100%) !important;
    background: -ms-linear-gradient(-45deg, rgba(74,137,189,0.59) 0%, rgba(0,106,167,1) 100%) !important;
    background: linear-gradient(135deg, rgba(74,137,189,0.59) 0%, rgba(0,106,167,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a89bd', endColorstr='#006aa7', GradientType=1 ) !important;
    /* height: 130vh !important; */
  }
  .Typogra{
    margin-top: 0vh !important;
    font-size: 1rem !important;
    text-align: center !important;
  }
  .logo {
    height: 2.5rem !important;
    margin: 0rem !important;
  }
  .None{
    display: none !important;
  }
}

@media only screen and (min-width: 960px) {
  /* .Registro{
    height: 110vh !important;
  } */
  .Typogra{
    font-size: 1.75rem !important;
  }
}

@media only screen and (max-width: 1280px) {
  /* .Registro{
    height: 150vh;
  } */
}
@media only screen and (min-width: 1280px) {
  /* .Registro{
    height: 100vh !important;
  } */
}
