.Profile {
  margin-top: 121px;
}
.Title{
  font-size: 20px !important;
  line-height: 28px !important;
  font-weight: 700 !important;
  margin-top: 26px !important;
  margin-bottom: 32px !important;
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

