.Display{
  display: none !important;
}

.App-name{
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  float: right;
}

.styleAnchor {
  color: #fff !important;
  text-decoration: none;
  text-transform: none !important;
  font-family: Arial !important;
  font-size: 20px !important;
}

.styleAnchor:hover{
  background-color: transparent !important;
  color: #fff !important;
}

.pageButtonActive {
  background-color: #0069a7 !important;
  border-radius: 5px !important;
  color: #fff !important;
  font-size: 20px !important;
  border: 1px solid #fff !important;
  text-decoration: none !important;
  text-transform: none !important;
  /* padding: .75em 0 !important; */
  /* width: 32% !important; */
  /*margin-bottom: .875em !important;*/
  /* margin: 4px 20px !important;
  font-family: Arial !important; */
}

.pageButtonActive:hover {
  background-color: #0089d7 !important;
}

.stykeItem:hover{
  background-color: transparent !important;
}

.MenuItem{
  color: rgb(84,90,96) !important;
  font-size: 20px !important;
}

a:focus, a:hover {
  text-decoration: none !important;
  outline: none !important;
}

.MenuItemFix{
  padding-left: 17px !important;
  padding-right: 17px !important;
  padding-top: 24px !important;
}

.MenuItem:hover{
  background-color: transparent !important;
  color: #0069A7 !important;
  text-decoration: none;
}

.SubMenu{
  top: 65px !important;
  left: 0px !important;
}

.SubMenuItem{
  border-bottom: 1px solid #fff !important;
  font-size: 14px !important;
  padding: 10px 15px !important;
  width: 120px !important;
  align-items: center;
  color: #676d73 !important;
  text-decoration: none;
  display: block;
}

.SubMenuItem:hover{
  background-color: transparent !important;
  color: #0069A7 !important;
}

.IconAvatarMenu{
  color: #676d73 !important;
}

.IconAvatarMenu:hover{
  color: #0069A7 !important;
}

.Avatar{
  color: rgb(84,90,96) !important;
  font-size: 20px !important;
}

.Avatar:hover{
  background-color: transparent !important;
}

.IconAvatarMenuResponsive{
  display: none;
}

.AppBar {
  background-color: #fff !important;
}

.AppBarKnowUs{
  background-attachment: fixed;
  background-color: transparent !important;
  background: -webkit-linear-gradient(rgba(255,255,255,0.8), rgba(0,0,0,0.4)),url('../../assets/BackgrounKnowUs.png');
  background: -o-linear-gradient(rgba(255,255,255,0.8), rgba(0,0,0,0.4)),url('../../assets/BackgrounKnowUs.png');
  background: url('../../assets/BackgrounKnowUs.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}

.Toolbar {
  padding: 0 10% !important;
}

.NavBar {
  /* background: transparent !important; */
  background: rgba(76,148,207,0.9);
  background: -moz-linear-gradient(left, rgba(76,148,207,0.9) 0%, rgba(76,148,207,0.9) 50%, rgba(76,148,207,0.9) 50%, rgba(76,148,207,0.9) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,148,207,0.9)), color-stop(50%, rgba(76,148,207,0.9)), color-stop(50%, rgba(76,148,207,0.9)), color-stop(100%, rgba(76,148,207,0.9)));
  background: -webkit-linear-gradient(left, rgba(76,148,207,0.9) 0%, rgba(76,148,207,0.9) 50%, rgba(76,148,207,0.9) 50%, rgba(76,148,207,0.9) 100%);
  background: -o-linear-gradient(left, rgba(76,148,207,0.9) 0%, rgba(76,148,207,0.9) 50%, rgba(76,148,207,0.9) 50%, rgba(76,148,207,0.9) 100%);
  background: -ms-linear-gradient(left, rgba(76,148,207,0.9) 0%, rgba(76,148,207,0.9) 50%, rgba(76,148,207,0.9) 50%, rgba(76,148,207,0.9) 100%);
  background: linear-gradient(to right, rgba(76,148,207,0.9) 0%, rgba(76,148,207,0.9) 50%, rgba(76,148,207,0.9) 50%, rgba(76,148,207,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006aa7', endColorstr='#006aa7', GradientType=1 );
  
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  width: 100%; /* Full width */
}

.flex {
  flex: 1;
}

.root {
  flex-grow: 1;
}

.Modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

/*.ButtonNotification {
  padding-top: 10px !important;
} */

.notificationBox {
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15) !important;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15) !important;
  background: #fff !important;
  /* border: 1px solid #aeaeae !important; */
  box-shadow: 0 2px 3px rgba(0,0,0,0.15) !important;
  float: left !important;
  min-width: 200px !important;
  /* position: absolute !important; */
  right: -100px !important;
  top: 45px !important;
  z-index: 3 !important;
  max-height: 100px !important;
  min-height: 50px !important;
  overflow-y: scroll !important;
  padding: 4px !important;
  text-align: left !important;
}

.show {
  display: block !important;
}

.notificationList {
  list-style-type: none !important;
  padding: 0px !important;
}

.notificationMessage {
  border-bottom: 1px solid #b8b8b8;
}

.notifTitle {
  font-size: 10px;
}

.notificationLink {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

.notificationContent {
  color: #3c495d;
  font-size: 12px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  /* .Avatar{
    margin: 0 34px !important;
  } */
  .Applogo {
    margin-top: 6px;
    width: 50px;
    margin-bottom: 6px;
  }
  .Avatar {
    width: 80px !important;
    height: 1 !important;
    padding-top: 0px !important;
  }
  .IconAvatarMenuResponsive{
    display: inline-block;
  }
  .Display{
    display: inline-block !important;
  }
  .DisplayNo{
    display: none !important;
  }
  .IconUser {
    margin: 0px 4px;
  }
  .Perfil{
    font-weight: 400 !important;
  }
  .DisplayMenuItem{
    display: none !important;
  }
  .Toolbar {
    padding-left: 6px !important;
  }
  .SubMenu{
    top: 40px !important;
  }
  ul {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 150px;
  }
}

@media (min-width: 601px){
  .Applogo {
    width: 100px;
    margin-top: 16px;
    margin-bottom: 10px;
  }
  .Avatar {
    width: 100% !important;
    height: 1 !important;
    padding-top: 0px !important;
  }
  .IconUser {
    margin: 0px 4px;
  }
  .Perfil{
    font-weight: 400 !important;
  }
  ul {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media (min-width: 1024px) {
  .Applogo {
    width: 100px;
    margin-top: 16px;
  }
  .Avatar {
    width: 160px !important;
    height: 1 !important;
  }
  .IconUser {
    margin: 0px 4px;
  }
  .Perfil{
    font-weight: 400 !important;
  }
  ul {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media (max-width: 1025px) {
  .Avatar {
    padding-top: 0px !important;
  }
}