.Applogo {
  height: 3.5rem;
  margin: 0.5rem;
}

.AppBar {
  background-color: #fff !important;
}

.styleAnchor {
  color: #676d73 !important;
  text-decoration: none;
  text-transform: capitalize !important;
  font-family: Arial !important;
  font-size: 1em !important;
}
.styleAnchor:hover{
  background-color: transparent !important;
  color: #0069A7 !important;
}
.styleAnchorButton{
  color: rgba(0, 0, 0, 0.6) !important;
  width: auto !important;
  height: 24px !important;
  overflow: hidden !important;
  font-size: 0.9rem !important;
  box-sizing: content-box !important;
  font-weight: 400 !important;
  font-family: Helvetica !important;
  line-height: 1.5em !important;
  white-space: nowrap !important;
  padding-left: 10px !important;
  text-overflow: ellipsis !important;
  padding-right: 16px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.styleAnchorButton:hover{
  background-color: transparent !important;
  color: #0069A7 !important;
}

.SubMenu{
  top: 65px !important;
  left: 0px !important;
}

.SubMenuItem{
  border-bottom: 1px solid #fff !important;
  font-size: 14px !important;
  padding: 10px 15px !important;
  width: 120px !important;
  align-items: center;
  color: #676d73 !important;
  text-decoration: none;
  display: block;
}

.SubMenuItem:hover{
  background-color: transparent !important;
  color: #0069A7 !important;
}

.Modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.root {
  flex-grow: 1;
}

.flex {
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .SubMenu{
    top: 40px !important;
  }
}