.Download{
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: white;
}
.SubTitle{
  font-size: 2em !important;
  font-weight: 300 !important;
  line-height: 1.25em !important;
  font-family: "Arial", "Helvetica", sans-serif !important;
  margin-bottom: 20px !important;
}
.SubheadingTypogra{
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 1em !important;
  font-weight: 300 !important;
  line-height: 1.2em !important;
  font-family: "Arial", "Helvetica", sans-serif !important;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  display: flex !important;
}
.IconosDownload{
  color: #85c544 !important;
  padding: .0em;
  padding-right: .3em !important;
  font-weight: bold;
}
.Text{
  display: inline-block;
  margin: 0px 0px !important;
}
.IconDownload{
  height: 3em;
}

.ContentDownloadImg img{
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .stylesDownload {
    background-color: #fafafa;
    padding: 0.5rem;
    padding-top: 0;
  }
  .SubTitle{
    font-size: 1.4rem !important;
    font-weight: bold !important;
    text-align: center !important;
  }
  .SubheadingTypogra{
    font-size: 0.8em !important;
    line-height: 0em !important;
    max-width: 30em;
    display: flex !important;
  }
  .IconosDownload{
    padding: .0em .3em;
    font-weight: bold;
  }
  .Text{
    display: inline-block;
    margin: 10px 0px !important;
  }
  .ContentDownload{
    text-align: center;
  }
  .IconDownload{
    height: 2em !important;
  }
  .Img{
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  .SubTitle{
    font-size: 1.4rem !important;
    font-weight: bold !important;
    text-align: center !important;
  }
  .stylesDownload {
    padding: 0px;
  }
  .Img{
    display: none;
  }
}

@media only screen and (max-width: 1280px) {
  .SubTitle{
    font-size: 1.4rem !important;
    font-weight: bold !important;
    text-align: center !important;
  }
  .ContentDownload{
    text-align: center;
  }
  .IconDownload{
    height: 2.3em;
  }
  .Img{
    max-width: 90%;
  }
}