.Content{
  margin-bottom: 1em;
  color: grey !important;
  font-weight: 700 !important;
  text-decoration: underline gray;
}
.textTitle{
  /* font-size: 5em; */
  text-align: center;
  font-family: Fontgrab;
  /* margin: 2% auto; */
  /* padding-top: 11%; */
}
.smallTitle{
  letter-spacing: -0.2em;
}
.Typography_term{
  margin: 1.2em;
}
.Typography_term_sub{
  margin: 1em 0 1em 2.4em;
}
.Typography_term_sub_text{
  margin: 1em 0 1em 2.4em;
}

@media only screen and (max-width: 600px){
  .Content{
    font-size: 1.3em !important;
  }
  .SubContent{
    font-size: 1.3em !important;
  }
  .Text{
    font-size: 0.8em !important;
  }
  .smallTitle{
    display: none;
  }
}