.pageButton {
  background-color: black;
  border: 1px solid black;
  color: white;
  font-size: 1.5em;
  padding: 2% 7%;
}
.ErrorText {
  color: #b80808;
  font-size: 0.9em;
}
.pageButtonInvalid {
  background-color: black;
  border: 1px solid black;
  color: white;
  font-size: 1.5em;
  padding: 2% 7%;
  cursor: not-allowed;
}
.bootstrapInput{
  width: 94% !important;
}

@media only screen and (max-width: 600px){
  .bootstrapInput{
    width: 100% !important;
  }
}