.Guarante{
  background-color: #fff;
  padding: 35px 0 !important;
}
.SubTytle{
  color: #0069a7 !important;
  font-family: Arial !important;
  font-size: 1.125em !important;
  font-weight: bold !important;
  line-height: 1.375em !important;
  margin: .875em 0 !important;
}
.Text{
  max-width: 50%;
}
.small{
  font-size: 1em;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .Guarante {
    padding: 0 2rem;
    margin-top: 5vh !important;
  }
  .SubTypogra {
    font-size: 1rem !important;
  }
  .SubTytle{
    font-size: 1rem !important;
  }
}