@font-face {
  font-family: 'Arial-Black';
  font-style: normal;
  src: url('./assets/Font/Arial\ Black.ttf');
  src: local('Arial-Black'), local('Arial-Black'),
       url('./assets/Font/Arial\ Black.ttf') format('embedded-opentype'),
       url('./assets/Font/Arial\ Black.ttf') format('woff2'),
       url('./assets/Font/Arial\ Black.ttf') format('woff'),
       url('./assets/Font/Arial\ Black.ttf') format('truetype'),
       url('./assets/Font/Arial\ Black.ttf') format('svg');
}

@font-face {
  font-family: 'Arial-Rounded-Bold';
  font-style: normal;
  src: url('./assets/Font/Arial\ Rounded\ Bold.ttf');
  src: local('Arial-Rounded-Bold'), local('Arial-Rounded-Bold'),
       url('./assets/Font/Arial\ Rounded\ Bold.ttf') format('embedded-opentype'),
       url('./assets/Font/Arial\ Rounded\ Bold.ttf') format('woff2'),
       url('./assets/Font/Arial\ Rounded\ Bold.ttf') format('woff'),
       url('./assets/Font/Arial\ Rounded\ Bold.ttf') format('truetype'),
       url('./assets/Font/Arial\ Rounded\ Bold.ttf') format('svg');
}

@font-face {
  font-family: 'Arial-Rounded-MT-Light';
  font-style: normal;
  src: url('./assets/Font/Arial_Rounded_MT_Light.ttf');
  src: local('Arial-Rounded-MT-Light'), local('Arial-Rounded-MT-Light'),
       url('./assets/Font/Arial_Rounded_MT_Light.ttf') format('embedded-opentype'),
       url('./assets/Font/Arial_Rounded_MT_Light.ttf') format('woff2'),
       url('./assets/Font/Arial_Rounded_MT_Light.ttf') format('woff'),
       url('./assets/Font/Arial_Rounded_MT_Light.ttf') format('truetype'),
       url('./assets/Font/Arial_Rounded_MT_Light.ttf') format('svg');
}

@font-face {
  font-family: 'Fontgrab';
  font-style: normal;
  src: url('./assets/Font/Fontgrab.ttf');
  src: local('Fontgrab'), local('Fontgrab'),
       url('./assets/Font/Fontgrab.ttf') format('embedded-opentype'),
       url('./assets/Font/Fontgrab.ttf') format('woff2'),
       url('./assets/Font/Fontgrab.ttf') format('woff'),
       url('./assets/Font/Fontgrab.ttf') format('truetype'),
       url('./assets/Font/Fontgrab.ttf') format('svg');
}

@font-face {
  font-family: 'MyriadPro-Regular';
  font-style: normal;
  src: url('./assets/Font/MyriadPro-Regular.otf');
  src: local('MyriadPro-Regular'), local('MyriadPro-Regular'),
       url('./assets/Font/MyriadPro-Regular.otf') format('embedded-opentype'),
       url('./assets/Font/MyriadPro-Regular.otf') format('woff2'),
       url('./assets/Font/MyriadPro-Regular.otf') format('woff'),
       url('./assets/Font/MyriadPro-Regular.otf') format('truetype'),
       url('./assets/Font/MyriadPro-Regular.otf') format('svg');
}

@font-face {
  font-family: 'Bernadette-Rough';
  font-style: normal;
  src: url('./assets/Font/bernadette_rough.ttf');
  src: local('Bernadette-Rough'), local('Bernadette-Rough'),
       url('./assets/Font/bernadette_rough.ttf') format('embedded-opentype'),
       url('./assets/Font/bernadette_rough.ttf') format('woff2'),
       url('./assets/Font/bernadette_rough.ttf') format('woff'),
       url('./assets/Font/bernadette_rough.ttf') format('truetype'),
       url('./assets/Font/bernadette_rough.ttf') format('svg');
}

@font-face {
  font-family: 'Theboldfont';
  font-style: normal;
  src: url('./assets/Font/theboldfont.ttf');
  src: local('Theboldfont'), local('Theboldfont'),
       url('./assets/Font/theboldfont.ttf') format('embedded-opentype'),
       url('./assets/Font/theboldfont.ttf') format('woff2'),
       url('./assets/Font/theboldfont.ttf') format('woff'),
       url('./assets/Font/theboldfont.ttf') format('truetype'),
       url('./assets/Font/theboldfont.ttf') format('svg');
}

html {
  font-size: 16px !important;
}

body {
  margin: 0;
  padding: 0;
}

.MenuNone{
  display: none;  
}

.MenuBar {
  position: absolute;
  z-index: 100;
}

.stylesTestimonio{
  background: -webkit-linear-gradient(rgba(255,255,255,0.8), rgba(0,0,0,0.4)),url('../src/assets/BackgrounTestimonio.png');
  background: -o-linear-gradient(rgba(255,255,255,0.8), rgba(0,0,0,0.4)),url('../src/assets/BackgrounTestimonio.png');
  background: url('../src/assets/BackgrounTestimonio.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.textTitle{
  font-size: 5em;
  text-align: center;
  font-family: Fontgrab;
  margin: 2% auto;
  padding-top: 11%;
}

.subTitle{
  text-align: center;
  margin: 0 auto 3%;
  color: gray;
}

.PoliciesContent {
  padding-top: 150px !important;
  padding-bottom: 50px !important;
  text-align: center;
}

.smallTitle{
  letter-spacing: -0.2em;
}

@media only screen and (max-width: 600px) {
  .smallTitle{
    display: none;
  }
  .PoliciesContent {
    padding-top: 50px !important;
    padding-bottom: 0 !important;
  }
  .textTitle{
    padding-top: 16%;
  }
}

@media (max-width: 960px) {
  .MenuNone {
    display: block;
  }
  .MenuBar {
  	display: none;
  }
}