.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 96% !important;
}

.pageButton {
  background-color: black;
  border: 1px solid black;
  color: white;
  font-size: 1.5em;
  padding: 2% 7%;
}

.pageButtonInvalid {
  background-color: black;
  border: 1px solid black;
  color: white;
  font-size: 1.5em;
  padding: 2% 7%;
  cursor: not-allowed !important;
}

.ErrorText {
  color: #b80808;
  font-size: 0.9em;
}