.SearchFilter{
  margin-top: 70px;
}

.Card {
  max-width: 100%;
  border-radius: 5px!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  border: 1px solid #e9eced;
  background-color: white !important;
}

.CardJobsFilter {
  padding: 10px 25px;
}

.paddingFrequency {
  padding: 0 !important;
}

.paddingFrequencyConten {
  padding: 0 0 0 48px;
}

.spaceLabelFrequency {
  margin-left: 4px;
  cursor: pointer;
}

.spaceLabelFrequencyAll {
  margin-left: 0;
  cursor: pointer;
}

.Title {
  font-size: 20px !important;
  line-height: 28px !important;
  font-weight: 700 !important;
  margin-top: 32px !important;
  margin-bottom: 32px !important;
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.FilterBtnWrapper {
  text-align: center;
  margin: 0;
}

.FilterBtn {
  border: 1px solid #0069a7!important;
  border-radius: 5px;
  color: #0069a7!important;
  font-weight: 700!important;
  background-color: #fff;
  padding: 10px 25px;
  margin-top: 10px;
}

.FilterBtn:hover {
  background-color: #f7feff !important;
}

@media only screen and (min-width: 374px) {
  .FilterBtn {
    margin: 0px 4px;
  }
  
  .SearchFilter {
    margin-top: 120px;
  }
}